# Python
__pycache__/
*.pyc

# Environment
.venv/
env/
venv/

# Databáze a nahrávky
backend/instance/*.db
data/private/users/
backend/static/uploads/

# VS Code nastavení
.vscode/

# OS soubory
.DS_Store
Thumbs.db
backend/.env
.env


# Soubory jen pro me
data/private/seeds/00102/obsah.txt
data/public/images/songbooks/00101/
data/public/images/songbooks/00102/
ssh-key-*.key
data/public/seeds/*.xlsx
